html,
body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.renderArea {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.warning {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 50%;
  color: #d90000;
}
.back_ground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/background_b9378bda.jpg);
}
.content {
  margin: 20px;
}
.header {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: solid 2px #888;
}
.list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.item a {
  color: #3d8bff;
}
.loadingContainer {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loadingText {
  margin-top: 100px;
  font-size: 14px;
}
.cssload-spinner {
  position: absolute;
  width: 33px;
  height: 33px;
  left: 50%;
  top: 45%;
  margin-left: -17px;
  margin-top: -17px;
}
.cssload-spinner:after,
.cssload-spinner:before {
  position: absolute;
  content: "";
  border: 2px solid #3d8bff;
  width: 31px;
  height: 31px;
}
.cssload-spinner:after {
  -webkit-animation: cssload-spinner1 2.88s linear infinite;
          animation: cssload-spinner1 2.88s linear infinite;
}
.cssload-spinner:before {
  width: 43px;
  height: 43px;
  margin-left: -6.5px;
  margin-top: -6.5px;
  -webkit-animation: cssload-spinner2 2.88s linear infinite;
          animation: cssload-spinner2 2.88s linear infinite;
}
@-webkit-keyframes cssload-spinner1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes cssload-spinner1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-spinner2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes cssload-spinner2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9zcmMvc3R5bGUubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0EiLCJmaWxlIjoiY3NzL2RjZDdjLmNzcyIsInNvdXJjZXNDb250ZW50IjpbImh0bWwsXG5ib2R5IHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBvdmVyZmxvdzogaGlkZGVuO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG59XG4ucmVuZGVyQXJlYSB7XG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgbGVmdDogMDtcbiAgdG9wOiAwO1xuICByaWdodDogMDtcbiAgYm90dG9tOiAwO1xufVxuLndhcm5pbmcge1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgei1pbmRleDogMTAwO1xuICB3aWR0aDogMTAwJTtcbiAgdG9wOiA1MCU7XG4gIGNvbG9yOiAjZDkwMDAwO1xufVxuLmJhY2tfZ3JvdW5kIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICBiYWNrZ3JvdW5kOiB1cmwoLi4vaW1hZ2VzL2JhY2tncm91bmRfYjkzNzhiZGEuanBnKTtcbn1cbi5jb250ZW50IHtcbiAgbWFyZ2luOiAyMHB4O1xufVxuLmhlYWRlciB7XG4gIGZvbnQtc2l6ZTogMjRweDtcbiAgbGluZS1oZWlnaHQ6IDQwcHg7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xuICBib3JkZXItYm90dG9tOiBzb2xpZCAycHggIzg4ODtcbn1cbi5saXN0IHtcbiAgbGlzdC1zdHlsZTogbm9uZTtcbiAgbWFyZ2luOiAyMHB4IDA7XG4gIHBhZGRpbmc6IDA7XG59XG4uaXRlbSBhIHtcbiAgY29sb3I6ICMzZDhiZmY7XG59XG4ubG9hZGluZ0NvbnRhaW5lciB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBsZWZ0OiA1MCU7XG4gIHRvcDogNTAlO1xuICB0cmFuc2Zvcm06IHRyYW5zbGF0ZSgtNTAlLCAtNTAlKTtcbn1cbi5sb2FkaW5nVGV4dCB7XG4gIG1hcmdpbi10b3A6IDEwMHB4O1xuICBmb250LXNpemU6IDE0cHg7XG59XG4uY3NzbG9hZC1zcGlubmVyIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogMzNweDtcbiAgaGVpZ2h0OiAzM3B4O1xuICBsZWZ0OiA1MCU7XG4gIHRvcDogNDUlO1xuICBtYXJnaW4tbGVmdDogLTE3cHg7XG4gIG1hcmdpbi10b3A6IC0xN3B4O1xufVxuLmNzc2xvYWQtc3Bpbm5lcjphZnRlcixcbi5jc3Nsb2FkLXNwaW5uZXI6YmVmb3JlIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBjb250ZW50OiBcIlwiO1xuICBib3JkZXI6IDJweCBzb2xpZCAjM2Q4YmZmO1xuICB3aWR0aDogMzFweDtcbiAgaGVpZ2h0OiAzMXB4O1xufVxuLmNzc2xvYWQtc3Bpbm5lcjphZnRlciB7XG4gIC13ZWJraXQtYW5pbWF0aW9uOiBjc3Nsb2FkLXNwaW5uZXIxIDIuODhzIGxpbmVhciBpbmZpbml0ZTtcbiAgICAgICAgICBhbmltYXRpb246IGNzc2xvYWQtc3Bpbm5lcjEgMi44OHMgbGluZWFyIGluZmluaXRlO1xufVxuLmNzc2xvYWQtc3Bpbm5lcjpiZWZvcmUge1xuICB3aWR0aDogNDNweDtcbiAgaGVpZ2h0OiA0M3B4O1xuICBtYXJnaW4tbGVmdDogLTYuNXB4O1xuICBtYXJnaW4tdG9wOiAtNi41cHg7XG4gIC13ZWJraXQtYW5pbWF0aW9uOiBjc3Nsb2FkLXNwaW5uZXIyIDIuODhzIGxpbmVhciBpbmZpbml0ZTtcbiAgICAgICAgICBhbmltYXRpb246IGNzc2xvYWQtc3Bpbm5lcjIgMi44OHMgbGluZWFyIGluZmluaXRlO1xufVxuQC13ZWJraXQta2V5ZnJhbWVzIGNzc2xvYWQtc3Bpbm5lcjEge1xuICBmcm9tIHtcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgwZGVnKTtcbiAgfVxuICB0byB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMzYwZGVnKTtcbiAgfVxufVxuQGtleWZyYW1lcyBjc3Nsb2FkLXNwaW5uZXIxIHtcbiAgZnJvbSB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMGRlZyk7XG4gIH1cbiAgdG8ge1xuICAgIHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7XG4gIH1cbn1cbkAtd2Via2l0LWtleWZyYW1lcyBjc3Nsb2FkLXNwaW5uZXIyIHtcbiAgZnJvbSB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMGRlZyk7XG4gIH1cbiAgdG8ge1xuICAgIHRyYW5zZm9ybTogcm90YXRlKC0zNjBkZWcpO1xuICB9XG59XG5Aa2V5ZnJhbWVzIGNzc2xvYWQtc3Bpbm5lcjIge1xuICBmcm9tIHtcbiAgICB0cmFuc2Zvcm06IHJvdGF0ZSgwZGVnKTtcbiAgfVxuICB0byB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoLTM2MGRlZyk7XG4gIH1cbn1cbiJdLCJzb3VyY2VSb290IjoiIn0=*/